/**
 * @section Typography
 * Font styles for entire site
 */

@layer kelp.core {

	html {
		font-size: var(--font-size-base);
		scroll-behavior: smooth;
	}

	body {
		--color: var(--color-text-normal);
		background: var(--color-background);
		color: var(--color);
		font-family: var(--font-primary);
		line-height: var(--line-height-m);
	}

	/**
	 * List styling
	 */

	ul,
	ol {
		padding-inline: var(--size-5xl) 0;
	}

	dt {
		font-weight: bold;
	}

	/**
	 * Removes list styling.
	 * For semantic reasons, should only be used on unordered lists.
	 * @link https://matuzo.at/blog/2023/removing-list-styles-without-affecting-semantics
	 */
	.list-unstyled,
	[class*="list-inline"] {
		list-style-type: "";
		padding-inline: 0;
	}

	/**
	 * Display lists on a single line.
	 */

	[class*="list-inline"] {
		--gap: var(--size-m);
		--align: center;
		display: flex;
		align-items: var(--align);
		column-gap: var(--gap);
		flex-wrap: wrap;
	}

	@media (max-width: 38rem) {
		.list-inline-responsive li {
			min-width: 100%;
		}
	}


	/**
	 * Heading styling for h1 through h6 elements.
	 * Heading class lets you use one heading type for semantics, but style it as another heading type.
	 */

	h1, h2, h3, h4, h5, h6 {
		font-family: var(--font-secondary);
		line-height: var(--line-height-s);
		text-wrap: pretty;
		word-wrap: break-word;
	}

	h1,
	.h1 {
		font-size: var(--size-3xl);
	}

	@media (min-width: 38em) {
		h1,
		.h1 {
			font-size: var(--size-4xl);
		}
	}

	h2,
	.h2 {
		font-size: var(--size-2xl);
	}

	h3,
	.h3 {
		font-size: var(--size-l);
	}

	h4, h5, h6,
	.h4, .h5, .h6 {
		font-size: var(--size-m);
	}


	/**
	 * Lines
	 */
	hr {
		--border-color: var(--color-border-accent);
		--gap: var(--size-5xl);
		border: 0;
		border-block-start: 1px solid var(--border-color);
		margin-block: var(--gap);
		margin-inline: auto;
	}


	/**
	 * Highlight element
	 */
	mark {
		background: var(--color-fill-highlight);
		color: var(--color-on-highlight);
	}


	/**
	 * Blockquotes
	 */

	blockquote {
		--border-color: var(--color-border-accent);
		--padding-block: var(--size-4xs);
		--padding-inline: var(--size-m);
		border-inline-start: var(--size-5xs) solid var(--border-color);
		padding-block: var(--padding-block);
		padding-inline: var(--padding-inline);
	}

	blockquote pre {
		font-style: normal;
	}

	cite {
		color: var(--color-text-muted);
		display: block;
		font-size: var(--size-s);
		padding-block-start: var(--size-m);
	}

	del {
		color: color-mix(in oklab, var(--color), var(--color-mix-deleted));
	}

}


/**
 * Hyperlink styling
 */

@layer kelp.core {
	a {
		--color: var(--color-text-link);
		--color-hover: var(--color-text-link-hover);
		--decoration: var(--decoration-text-link);
		--decoration-hover: var(--decoration-text-link-hover);
		color: var(--color);
		text-decoration: var(--decoration);
		word-wrap: break-word;
	}
}

@layer kelp.state {

	a:hover {
		color: var(--color-hover);
		text-decoration: var(--decoration-hover);
	}

	/**
	 * Link without underline until hover
	 */
	.link-subtle:not(:hover) {
		text-decoration: none;
	}

}
