/**
 * @section Split
 * Horizontal content with space between
 */

@layer kelp.core {
	.split {
		--gap: var(--size-m);
		display: flex;
		gap: var(--gap);
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

@layer kelp.utilities {
	.split > * {
		margin: 0;
	}
}
