/**
 * @section Stack
 * Stack content on top of each other and control spacing
 */

@layer kelp.core {
	.stack {
		--gap: var(--size-m);
		display: flex;
		flex-direction: column;
		gap: var(--gap);
	}
}

@layer kelp.utilities {
	.stack > * {
		margin: 0;
	}
}
