/**
 * @section Typography
 */

@layer kelp.core {
	hr {
		--border-color: var(--color-border-accent);
		border: 0;
		border-block-start: 1px solid var(--border-color);
		margin-block: var(--size-5xl);
		margin-inline: auto;
	}

	mark {
		background: var(--color-fill-highlight);
		color: var(--color-on-highlight);
	}

	del {
		color: color-mix(in oklab, var(--color), var(--color-mix-deleted));
	}
}
