/**
 * @section Lists
 */

@layer kelp.core {

	ul,
	ol {
		--gap: 0;
		padding-inline: var(--size-5xl) 0;
	}

	:is(ul, ol) > li {
		margin-block-end: var(--gap);
	}

	dt {
		font-weight: bold;
	}

	/**
	 * Removes list styling.
	 * For semantic reasons, should only be used on unordered lists.
	 * @link https://matuzo.at/blog/2023/removing-list-styles-without-affecting-semantics
	 */
	.list-unstyled,
	.list-inline {
		list-style-type: "";
		padding-inline: 0;
	}

	.list-inline {
		--gap: var(--size-m);
		display: flex;
		column-gap: var(--gap);
		row-gap: calc(var(--gap) * 0.5);
		flex-wrap: wrap;
		align-items: center;
	}

	.list-inline > li {
		margin-block-end: initial;
	}

}
