/**
 * @section Fill
 * Fill an element with color
 */

@layer kelp.utilities {
	.fill {
		--background-color: var(--color-fill-muted);
		--color: var(--color-on-muted);
		background-color: var(--background-color);
		color: var(--color);
	}
}
