/**
 * @section Stack
 * Stack content on top of each other and control spacing
 */

@layer kelp.core {

	.stack > * {
		margin: 0;
	}

	.stack {
		--align: normal;
		--gap: var(--size-m);
		display: flex;
		align-items: var(--align);
		flex-direction: column;
		gap: var(--gap);
	}

	.stack:not(:last-child) {
		margin-block-end: var(--space);
	}

}
