/**
 * @section Space
 * Control the gap between items
 */

@layer kelp.utilities {

	.space-0 {
		--gap: 0;
	}

	.space-xs {
		--gap: var(--size-4xs);
	}

	.space-s {
		--gap: var(--size-2xs);
	}

	.space-m {
		--gap: var(--size-2xl);
	}

	.space-l {
		--gap: var(--size-3xl);
	}

	.space-xl {
		--gap: var(--size-5xl);
	}

	.space-end {
		margin-block-end: var(--gap);
	}

	.space-start {
		margin-block-start: var(--gap);
	}

}
